@import "@fontsource/lato"; /* Default Lato font */
@import "@fontsource/lato/300.css";
@import "@fontsource/lato/400.css";
@import "@fontsource/lato/700.css";
@import "@fontsource/lato/900.css";

@import "@fontsource/sarabun"; /* Default Sarabun font */
@import "@fontsource/sarabun/300.css";
@import "@fontsource/sarabun/400.css";
@import "@fontsource/sarabun/500.css";
@import "@fontsource/sarabun/600.css";
@import "@fontsource/sarabun/700.css";

@font-face {
  font-family: 'Frizon';
  src: url('./assets/fonts/Frizon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

